@import './nav';

// global styles

html {
	background: #1e2124;
	min-height: 100vh;
	width: 100vw;
}

body {
	background-color: #1e2124 !important;
}

p {
	color: #fff;
}

.table-container {
	background: #1e2124;
}

.map-container {
	position: relative;
	width: 100%;
	height: 300px;
}

.map {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.sidebar {
	background-color: rgba(35, 55, 75, 0.9);
	color: #ffffff;
	padding: 6px 12px;
	font: 15px/24px monospace;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	margin: 12px;
	border-radius: 4px;
}

.graph-height {
	max-height: 200px;
}

.svg-image {
	width: 150px;
	height: 150px;
}

.athelete-profile-pic {
	width: 120px !important;
	height: 120px;
	clip-path: circle(50% at 50% 50%);
}

.strava-icon-button {
	height: 20px;
	width: auto;
}

.filter-container {
	width: 100% !important;
}

//filter box
.item-tag-container {
	border: 2px solid #ff69b4;
	border-radius: 25px;
	padding: 10px 7px;
	background-color: transparent;
	max-width: 150px;

	p {
		color: #ff69b4;
		font-size: 18px;
		margin-bottom: 0;
	}

	img {
		cursor: pointer;
		padding-top: 2px;
	}
	img:hover {
		scale: 1.1;
		transition: ease 0.75s;
	}

	.line {
		width: 20px;
		height: 2px;
		border: 2px solid #ff69b4;
	}
}

// media queries
@media (max-width: 1000px) {
	.graph-container {
		flex-direction: column;
	}
	.table-data-title {
		height: 50px;
	}
	.card-margins {
		margin: 0.5rem 0px 0px 0px !important;
	}

	.three-card-set {
		flex-direction: column;
		margin-left: none !important;
	}
}
